[Desktop Entry]
Name=cliprunner
Name[ast]=cliprunner
Name[bg]=cliprunner
Name[bs]=cliprunner
Name[ca]=cliprunner
Name[ca@valencia]=cliprunner
Name[cs]=cliprunner
Name[da]=cliprunner
Name[de]=cliprunner
Name[el]=cliprunner
Name[en_GB]=cliprunner
Name[eo]=cliprunner
Name[es]=cliprunner
Name[et]=cliprunner
Name[fi]=cliprunner
Name[fr]=cliprunner
Name[ga]=cliprunner
Name[gl]=cliprunner
Name[hu]=cliprunner
Name[it]=cliprunner
Name[ja]=cliprunner
Name[kk]=cliprunner
Name[km]=cliprunner
Name[ko]=cliprunner
Name[lv]=cliprunner
Name[nb]=cliprunner
Name[nds]=cliprunner
Name[nl]=cliprunner
Name[nn]=cliprunner
Name[pa]=cliprunner
Name[pl]=cliprunner
Name[pt]=cliprunner
Name[pt_BR]=cliprunner
Name[ro]=cliprunner
Name[ru]=cliprunner
Name[sq]=cliprunner
Name[sr]=cliprunner
Name[sr@ijekavian]=cliprunner
Name[sr@ijekavianlatin]=cliprunner
Name[sr@latin]=cliprunner
Name[sv]=cliprunner
Name[tr]=cliprunner
Name[uk]=cliprunner
Name[x-test]=xxcliprunnerxx
Name[zh_CN]=cliprunner
Name[zh_TW]=cliprunner
Comment=cliprunner runner
Comment[ast]=Llanzador pa cliprunner
Comment[bs]=cliprunner izvršilac
Comment[ca]=Llançador de cliprunner
Comment[ca@valencia]=Llançador de cliprunner
Comment[cs]=cliprunner runner
Comment[da]=cliprunner-runner
Comment[de]=cliprunner
Comment[el]=εκτελεστής cliprunner
Comment[en_GB]=cliprunner runner
Comment[es]=Lanzador para cliprunner
Comment[et]=cliprunner käivitaja
Comment[fr]=Lanceur cliprunner
Comment[ga]=Feidhmitheoir cliprunner
Comment[gl]=Executor cliprunner
Comment[hu]=cliprunner-futtató
Comment[it]=Esecutore di cliprunner
Comment[ja]=cliprunner runner
Comment[kk]=cliprunner жеккіші
Comment[km]=កម្មវិធី​រត់ cliprunner​
Comment[ko]=cliprunner 실행기
Comment[lv]=cliprunner darbinātājs
Comment[nb]=cliprunner-kjører
Comment[nds]=cliprunner-Dreger
Comment[nl]=cliprunner-starter
Comment[nn]=cliprunner-køyrar
Comment[pa]=cliprunner ਰਨਰ
Comment[pl]=Uruchamianie cliprunner
Comment[pt]=Execução do cliprunner
Comment[pt_BR]=Execução do cliprunner
Comment[ro]=Lansator cliprunner
Comment[ru]=Способ запуска cliprunner
Comment[sq]=cliprunner runner
Comment[sr]=cliprunner извођач
Comment[sr@ijekavian]=cliprunner извођач
Comment[sr@ijekavianlatin]=cliprunner izvođač
Comment[sr@latin]=cliprunner izvođač
Comment[sv]=Körning av cliprunner
Comment[tr]=cliprunner çalıştırıcı
Comment[uk]=Засіб запуску cliprunner
Comment[x-test]=xxcliprunner runnerxx
Comment[zh_CN]=cliprunner 启动器
Comment[zh_TW]=cliprunner 執行器
Icon=

X-KDE-ServiceTypes=Plasma/Runner
Type=Service
X-KDE-Library=krunner_cliprunner
X-KDE-PluginInfo-Author=%{AUTHOR}
X-KDE-PluginInfo-Email=%{EMAIL}
X-KDE-PluginInfo-Name=cliprunner
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
